<div class="container">
    <div class="card-signup">
      <h1 id="find-title">Find your buddy!</h1>
      <div class="interest-form">
        <%= simple_form_for :query, url: users_path, method: "GET", html: { class: '', id: '' } do |f| %>
          <div class="p-1">
            <p style="margin-bottom: 0;">Interests:</p>
            <%= f.input :interests, as: :select, collection: Interest.all, value_method: :name, label_method: :name, input_html: { class: 'select2max form-small kill-margin-btm', multiple: true }, required: false, label: false %>
          </div>
          <div class="p-1">
            <p style="margin-bottom: 0;">Countries:</p>
            <%= f.input :countries, as: :select, collection: User::COUNTRIES, input_html: { class: 'select2max form-large kill-margin-btm', multiple: true }, required: false, label: false  %>
          </div>
          <div class="p-1">
            <p style="margin-bottom: 0;">Languages:</p>
            <%= f.input :languages, as: :select, collection: Language.all, input_html: { class: 'select2max form-large kill-margin-btm', multiple: true }, required: false, label: false  %>
          </div>
          <div class="p-1">
            <%= f.submit "Search", class: "btn-chatwith white-txt highlight width-fix" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="cards">
      <% @users.each do |user|%>
        <% if user.photo.attached? %>

          <div class="card-profiles">
            <div class="card-filler"></div>

            <div class="card-category card-feed-position align-center outflow-avatar" style="background-color: #D63230; background-image: url(<%= cl_image_path user.photo.key if user.photo.attached? %>)">
              <%= link_to "#{user.username}", user_path(user), class: "btn-profile" %>
            </div>
              <%= image_tag "circle-greek.png",  class: "greek-circle"%>
            <div class="card-profile-content">
              <%= user.about_me.truncate(100) %>
              ...I'm from <%= user.country %>!
              <div class="separator"><%= image_tag 'linguistics2.png', class: "profile-card-icons"%></div>
              <div class="tag-wrapper">
                <div class="tag" style="background-color: #f39237;">
                  <%= user.native_language %>
                </div>
                  <% user.my_languages&.first(3).each do |language| %>
                <div class="tag">
                    <%= language.language.name %>
                </div>
                  <% end %>
                <div class="tag">...</div>
              </div>
              <div class="separator"><%= image_tag 'interests.png', class: "profile-card-icons"%></div>
                <div class="tag-wrapper">
                  <% user.interests&.first(4).each do |interest| %>
                  <div class="tag">
                    <%= interest.name.truncate(17) %>
                  </div>
                  <% end %>
                <div class="tag">...</div>
                </div>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>
</div>
