<div class="container" style="display: grid;">
  <div class="card-chat card-responsive">
    <div class="profile-filler"></div>
    <div class="profile-path pos-relative">
        <span><%= link_to "Home", root_path %></span><span id="path-arrow">></span> <span>Chats</span>
    </div>
    <h1>CHAT</h1>
    <div class="chat-start">
      <%= simple_form_for @new_chat, url: chat_rooms_path, method: 'post' do |f| %>
        <%= f.association :users, label: false, collection: User.where.not(id: current_user.id), value_method: :id, label_method: :username, input_html: { class: 'select2 form-large' }  %>
        <%= f.submit "Start" %>
      <% end %>
    </div>
    <div class="list-chat">
      <p>My Chats:</p>
      <% @present_chats.each do |chat| %>
        <div class="chats-container">
          <div class="participants-img">
        <% participants = chat.participants.map do |participant| %>
            <% if participant.user.photo.attached? && participant.user != current_user %>
              <div class="participant-img-container" style="width: 6em !important;">
                <div class="participant-img-box">
                  <%= cl_image_tag participant.user.photo.key %>
                  <%= image_tag "circle-greek.png",  class: "greek-circle-participant"%>
                </div>
              </div>
            <% end %>
          <% participant.user.username if participant.user.username != @user.username %>
        <% end %>
        </div>
        <div class="participant-info">
          <% participants = participants.compact %>
          <%= link_to participants.to_sentence, chat_room_path(chat) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

    </div>
