
<div id="current-user" data-id="<%= current_user.id %>"></div>
<div class="container" style="display: grid;">
  <div class="card-chat card-responsive">
    <div class="profile-filler"></div>
    <div class="chat-users">
      <% @participants.each do |participant| %>
        <div class="avatar-bubble" data-toggle="tooltip" data-placement="top" title="<%= participant.username %>">
          <a href="<%= user_path(participant) %>">
            <img src="<%= cl_image_path participant.photo.key if participant.photo.attached? %>" alt="">
          </a>
        </div>
      <% end %>
    </div>
    <div class="profile-path pos-relative" style="z-index: 0;">
        <span><%= link_to "Home", root_path %></span><span id="path-arrow">></span> <span><%= link_to "Chats", chat_rooms_path %></span> <span id="path-arrow">></span> <span>Room</span>
    </div>
    <div id="messages" class="message-scroll" data-chatroom-id="<%= @chat_room.id %>">
    <% @messages.each do |message| %>
        <%= render 'messages/message', message: message %>
    <% end %>
    </div>
    <div class="box-form">
      <%= simple_form_for @new_message, url: chat_room_messages_path(@chat_room), remote: true, html: { class: 'chatroom' }, authenticity_token: true do |f| %>
        <%= f.input :content, as: :text, input_html: { class: 'chat-form' }, label: false %>

      <% end %>
    </div>
  </div>
</div>
