  <div class="container">
    <div class="card-signup">
      <ul>
      <% @my_interests.each do |my_interest| %>
         <li class="select2-selection__choice">
          <%= my_interest.interest.name %>
          <%= link_to 'X', my_interest_path(my_interest), method: :delete %>
        </li>
      <% end %>
      </ul>
      <button id="btn-add" type="button">+</button>
        <div id="togglediv" class="hidden">
        <%= simple_form_for current_user, url: my_interests_path, method: 'post' do |f| %>
          <%= f.association :interests, value_method: :name, label_method: :name, input_html: { class: 'select2 form-large' }  %>
          <%= f.submit "Save" %>
        <% end %>
        </div>
    </div>
</div>
