
<div class="container">
    <div class="card-signup">
    <%= simple_form_for :query, url: users_path, method: "GET", html: { class: 'form-inline', id: '' } do |f| %>
      <%= f.input :text, input_html: {value: ""}, label: false %>
      <%= f.input :interests, as: :select, collection: Interest.all, value_method: :name, label_method: :name, input_html: { class: 'select2max form-large', multiple: true }, required: false, label: "Interests:"  %>
      <%= f.input :countries, as: :select, collection: User::COUNTRIES, input_html: { class: 'select2max form-large', multiple: true }, required: false, label: "Countries:"  %>
      <%= f.input :languages, as: :select, collection: Language.all, input_html: { class: 'select2max form-large', multiple: true }, required: false, label: "Languages:"  %>
      <%= f.submit "Search", class: "btn-search" %>
    <% end %>

    </div>

    <div class="cards">
      <% @results.each do |user|%>
        <div class="card-profiles">
          <div class="card-filler"></div>
          <div class="card-category card-feed-position align-center outflow-avatar" style="background-image: linear-gradient(rgba(211,211,211,0.1), rgba(211,211,211,0.3)), url(https://kitt.lewagon.com/placeholder/users/ssaunier)">
            <%= link_to "#{user.username}", user_path(user), class: "btn-profile" %>
          </div>
          <%= image_tag "circle-greek.png",  class: "greek-circle"%>
          <div class="card-profile-content">
            <p><strong>About me:</strong> <%= user.about_me.truncate(100) %></p>
            <p><strong>Country:</strong> <%= user.country %></p>
            <p><strong>Native language:</strong> <%= user.native_language %>
            <% user.my_languages&.each do |language| %>
              <p></p>
              <% level = '🔹' if language.level == "Begginer"%>
              <% level = '🔹🔹' if language.level == "Elementary"%>
              <% level = '🔹🔹🔹' if language.level == "Intermediate"%>
              <% level = '🔹🔹🔹🔹' if language.level == "Advanced"%>
              <% level = '🔹🔹🔹🔹🔹' if language.level == "Fluent"%>
              <p>
                <%= "#{language.language.name}: #{level}" %>
              </p>
            <% end %>
            <% user.interests&.each do |interest| %>
              (<%= interest.name %>)
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
