
<div class="container">
  <div class="card-signup text-center">
    <div class="row justify-content-center p-3">
     <h1 id="find-title">Add the languages you speak!</h1>
    </div>
      <div class="tag-wrapper">

        <% @my_languages.each do |my_language| %>
        <div class="tag highlight">
          <span>
            <%= my_language.language.name %>
          </span>
          <%= link_to 'X', my_language_path(my_language), method: :delete, class: "white-link"%>
        </div>
        <% end %>

    </div>
      <%= simple_form_for current_user, url: my_languages_path, method: 'post' do |f| %>
    <div class="row justify-content-center" style="display: contents;">
      <%= f.association :languages, value_method: :name, label_method: :name, input_html: { class: 'select2 form-large' }  %>
      <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-signup text-center">
    <div class="row justify-content-center p-3">
      <h1 id="find-title">Add your interests</h1>
    </div>
    <div class="">
      <div class="tag-wrapper">
        <% @my_interests.each do |my_interest| %>
          <div class="tag highlight">
            <span>
              <%= my_interest.interest.name %>
            </span>
            <%= link_to 'X', my_interest_path(my_interest), method: :delete, class: "white-link" %>
          </div>
        <% end %>
      </div>

    </div>
      <%= simple_form_for current_user, url: my_interests_path, method: 'post' do |f| %>
    <div class="row justify-content-center" style="display: contents;">
      <%= f.association :interests, value_method: :name, label_method: :name, input_html: { class: 'select2' }  %>
      <%= f.submit "Save" %>
      <% end %>
    </div>
    <div class="row justify-content-center pt-4">
      <%= link_to "Finish", avatars_path, method: 'get', class: 'btn-chatwith white-txt highlight' %>
    </div>
  </div>
</div>
