<!-- <ul>
<%= @my_interests.each do |my_interest| %>
   <li>
    <%= my_interest.interest.name %>
    <%= <%= link_to 'X', my_interest_path(my_interest) %> %>
  </li>
<% end %>
</ul>

<%= simple_form_for current_user, url: interests_path, method: 'post' do |f| %>
  <%= f.association :interests, input_html: { class: 'select2' }  %>

  <%= f.submit %>
<% end %>
 -->
