<%= content_tag :div, class: "avatar_information", data: {bases: @bases, basecolors: @base_colors, eyes: @eyes, hairs: @hairs, haircolors: @colorized_hairs, mouths: @mouths, eyebrows: @eyebrows, noses: @noses, clothes: @clothes, acessories: @acessories, gender: @gender } do %>
<% end %>

<!-- cloudinary_js_config -->
<%= image_tag "/avatar/#{@base}", id: 'face', class: 'hidden-content' %>
<%= image_tag "/avatar/#{@hair}", id: 'hair', class: 'hidden-content'%>
<%= image_tag "/avatar/#{@mouth}", id: 'mouth', class: 'hidden-content'%>
<%= image_tag "/avatar/#{@nose}", id: 'nose', class: 'hidden-content' %>
<%= image_tag "/avatar/#{@eye}", id: 'eyes', class: 'hidden-content' %>
<%= image_tag "/avatar/#{@eyebrow}", id: 'eyebrows', class: 'hidden-content' %>
<%= image_tag "/avatar/#{@cloth}", id: 'cloth', class: 'hidden-content' if @cloth %>
<%= image_tag '', id: 'cloth', class: 'hidden-content' unless @cloth %>
<%= image_tag "/avatar/#{@acessory}", id: 'acessory', class: 'hidden-content' if @acessory %>
<%= image_tag '', id: 'acessory', class: 'hidden-content' unless @acessory %>


<canvas class="result"></canvas>
<br>
<br>
<br>
<hr>
<button class="Btn">UPDATE</button>
<button class="Btn-base">Change face</button>
<button class="Btn-skincolor">Change skin color</button>
<button class="Btn-hair">Change hair</button>
<button class="Btn-haircolor">Change hair color</button>
<button class="Btn-mouth">Change mouth</button>
<button class="Btn-nose">Change nose</button>
<button class="Btn-eyes">Change eyes</button>
<button class="Btn-eyebrows">Change eyebrows</button>
<button class="Btn-cloth">Change clothes</button>
<button class="Btn-acessory">Change acessories</button>
<button class="Btn-save">UPLOAD</button>
<button class="Btn-male">MALE</button>
<button class="Btn-female">FEMALE</button>

  <%= simple_form_for @avatar, method: 'patch' do |f| %>
    <%= f.hidden_field :img, value: "" %>
    <%= f.hidden_field :appearance, value: "" %>
    <%= f.submit "Start", class: 'hidden-content' %>
  <% end %>

  <%= simple_form_for @avatar, method: 'patch', html: { id: "edit_avatar_2"} do |f| %>
    <%= f.hidden_field :gender, value: "" %>
    <%= f.submit "Start", class: 'hidden-content' %>
  <% end %>
