<!-- cloudinary_js_config -->
<%= image_tag @base, id: 'face', class: 'hidden-content' %>
<%= image_tag @hair, id: 'hair', class: 'hidden-content'%>
<%= image_tag @mouth, id: 'mouth', class: 'hidden-content'%>
<%= image_tag @nose, id: 'nose', class: 'hidden-content' %>
<%= image_tag @eye, id: 'eyes', class: 'hidden-content' %>
<%= image_tag @eyebrow, id: 'eyebrows', class: 'hidden-content' %>

<canvas class="result"></canvas>
<br>
<br>
<br>
<hr>
<button class="Btn">UPDATE</button>
<button class="Btn-hair">Change hair</button>
